{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'formstyles.css' %}" />
<title>Univ`Blog | Change Password</title>
{% endblock head %}


<body>
{% block body %}
<div class="l-form">
    <form action="" class="form" method ="POST">
    {% csrf_token %}
      {% comment %} <h1 class="form__title__main">Univ`Blog</h1><br/> {% endcomment %}
      <h2 class="form__title">Change Password</h2>

    
      <div class="form__div">
        <input type="password" name="username" class="form__input" placeholder=" " required />
        <label for="" class="form__label">Password</label>
      </div>

      <div class="form__div">
        <input type="password" name="password" class="form__input" placeholder=" " required />
        <label for="" class="form__label">Confirm - Password</label>
      </div>

      <div class="buttons">
        <div>
          <input type="submit" class="form__button__submit" value="Submit" />
        </div>

      </div>

    </form>
  </div>
  {% endblock body %}
  


</body>

</html>