{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/fav-icon.png" />
    <link rel="stylesheet" href="formstyles.css" />

    <title>Univ`Blog Password_reset</title>
  </head>

  <body>
    {% block body %}!-- verification -->
    <div class="l-form" id="verify">
      <form action="" class="form form-second">
        <div class="verification">
          <div class="back" id="back">
            <img
              src="{% static '/images/leftarrow.png' %}"
              onclick="back()"
              alt=""
            />
          </div>
          <h1 class="form__title__main">Univ`Blog</h1>
          <div class="image">
            <img src="{% static '/images/sent.png' %}" alt="" />
          </div>
          <div>
            <h3 class="text">User Verification Link Sent...</h3>
            <h4 class="text" style="color: black">Check Your Email</h4>
          </div>
        </div>
      </form>
    </div>

    {% endblock body %}
  </body>
</html>
