{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'formstyles.css' %}" />
<title>Univ`Blog | Sign-In</title>
{% endblock head %}


<body>
{% block body %}
<div class="l-form">
    <form action="" class="form" method ="POST">
    {% csrf_token %}
      {% comment %} <h1 class="form__title__main">Univ`Blog</h1><br/> {% endcomment %}
      <h2 class="form__title">Password Reset</h2>
      <div class="form__div">
        <input id="id_email" type="email" name="email" class="form__input" placeholder=" " required />
        <label for="" class="form__label">Enter Registered Email</label>
      </div>
      
      <div class="buttons">
        <div>
          <input type="submit" class="form__button__submit" value="Send Link" />
        </div>

      </div>
	
		<div>
      			<a class="forgot-password" href="{% url 'signup' %}">Sign-Up</a>
		</div>
    </form>
  </div>
  {% endblock body %}
  


</body>

</html>